.nav__menu{
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    background-color: #1f1f1f ;
  
    padding: 100px 5vw;
    list-style: none;
  
    display: grid;
    place-content: center;
    gap: 3rem;
  
    opacity: 0;
    pointer-events: none;
    transition: .3s opacity;
  }